<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saveanimals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Medica"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".doctorlogin"
            android:label="Appointments">

        </activity>
        <activity android:name=".doc4" />
        <activity android:name=".doc3" />
        <activity android:name=".doc2" />
        <activity android:name=".doc1" />
        <activity android:name=".doc" />
        <activity android:name=".doctor4" />
        <activity android:name=".doctor3" />
        <activity android:name=".doctor2" />
        <activity android:name=".doctor1" />
        <activity android:name=".Appointment"
            android:label="Make Appointment"/>
        <activity android:name=".Login"
            android:label="Medica">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signUp" />
        <activity
            android:name=".MainActivity"
            android:label="Medica"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>